body {
  background: #f6f6f6;
  font: 16pt/1.4em serif;
  color: #444;
}

textarea {
  background: #f9f9f9;
  color: #2a2a2a;
}

#code-area {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0.5em;
}

h1 {
  margin: 0 auto;
  padding: 0.8em;
  text-align: center;
}

#code-area textarea {
  box-sizing: border-box;
  width: 100%;
  height: 20em;
  max-height: 100%;
  font: 16pt/1.4em monospace;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: 0;
  padding: .5em;
}

@media screen and (min-width: 72em) {
  #code-area {
    width: 50%;
    float: left;
  }

  #issues-display {
    box-sizing: border-box;
    width: 50%;
    float: right;
  }
}

#issues-display {
  padding: 0.5em;
}

.loc {
  font: 14pt/1.2em monospace;
  float: left;
  color: #888;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.line {
  border-right: 1px solid #bbb;
}

.line, .column {
  min-width: 1.5em;
  display: inline-block;
  text-align: center;
}

.suggestion {
  float: left;
  margin-left: 1em
}

.issues, .issue {
  list-style: none;
}

.issues {
  padding: 0 0 0 1em;
  margin: 0;
}

.issue {
  border-top: 1px solid #eee;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

.issue pre {
  padding: 0;
  color: #111;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 2pt 4pt;
  margin: 0.4em 0 0 1em;
}

.checker-name {
  margin: 0.5em 0;
}

.checker-name:first-child {
  margin-top: 0;
}
